*{
    color: rgba(78, 33, 11, 0.87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin:50px;
}

#card{
    background:rgb(245, 245, 245,0.7);
    width:350px;
    height:400px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:50px;
    margin-bottom: 200px;
  }

#card img{
    object-fit:cover;
    height: 100%;
    width:100%;
    border-radius:50px 50px 0px 0px;
    background-color:rgba(229, 201, 149, 0.411) ;
  }


#content{
    background-color:rgba(229, 201, 149, 0.411) ;
    margin-top: -10px;
    height: 150px;
    border-radius:0px 0px 50px 50px;
    font-size: larger;
    
   
}

#title{
    padding-top:10px;
    display:flex;
    justify-content:space-around;
}

#title span{
    display: flex;
    align-items: center;
    justify-content: center;
}

#desc div:first-child{
    font-size: 1.5em;
    font-weight: 600;
    
}

button{
    background-color: rgb(240, 189, 108);
    border-radius: 50px;
    border-color: rgba(229, 201, 149, 0.411);
    font-size: 1em;
    width:180px;
    height: 40px;  
}

#button{
    margin-top:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Navbar */

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap: 10px;
    background-color: rgba(229, 201, 149, 0.411);
    width: 800px;
    height: 150px;
    border-radius: 70px;
}


nav div{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: rgba(216, 155, 23, 0.308);
    width: 105px;
    height: 40px;
    border-radius: 80px;
    font-weight: 400;

    
}

nav div:nth-child(3){
    width: 150px;
    height: 80px;
    font-size: 1.5em;
    font-weight: 500;

}

nav div img{
    width:50px;
    height: auto;
}

/* Flexible article */

#article{
    display: flex;
    justify-content: center;
    background-color: rgba(229, 201, 149, 0.411);
    width:1200px;
    height: 400px; 
    
}

#img-art{
    width:500px;
    margin-left: 30px;
    height:auto;
    display:flex;
    align-items:center;
    
}

#img-art img{
    width:500px;
    object-fit: fill;
}


#article div:last-child{
    margin-left:20px;
}

@media(max-width: 500px) {
    #article {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width:450px;
        height: 550px;
    }

    #img-art img{
        width:350px;
        /* object-fit: cover; */
    }
    #img-art{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}